/* Phone */
.main {
  display: grid;
  place-items: left;
}

.body {
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

.about-title {
  background-image: linear-gradient(to right, #00493a, #00735c);
  text-align: center;
  color: white;
  font-size: 48px;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 37px;
}

.hero-about-heading {
  padding-top: 28px;
  padding-left: 41px;
  font-size: 24px;
}
.hero-about-heading-content {
  padding-top: 9px;
  padding-left: 41px;
  padding-right: 48px;
  font-size: 24px;
}
.hero-about-history {
  padding-top: 70px;
  padding-left: 41px;
  padding-right: 269px;
  font-size: 24px;
}
.hero-about-history-content {
  padding-top: 5px;
  padding-left: 41px;
  padding-right: 44px;
  font-size: 24px;
}
.hero-about-new-para {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 68px;
  font-size: 24px;
}

/* About Items */
.about-items {
  display: grid;
  grid-template-columns: 1fr;
}
.about-food-heading {
  padding-top: 50px;
  padding-left: 41px;
  font-size: 24px;
  display: block;
  text-align: left;
}
.about-food-img {
  padding-top: 20px;
  padding-left: 41px;
  width: 629px;
}
.about-food-body {
  padding-top: 20px;
  padding-left: 41px;
  width: 611px;
  font-size: 24px;
  text-align: left;
}

/* Tablet and up */
@media (min-width: 768px) {
  .hero-about-heading {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-heading-content {
    padding-top: 8.7px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-history {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  .hero-about-history-content {
    padding-top: 5px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-new-para {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-food-heading {
    padding-left: 37px;
  }
  .about-food-img {
    padding-left: 37px;
    width: 629px;
  }
  .about-food-body {
    padding-left: 37px;
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
  .hero-about-heading {
    padding-top: 102px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-heading-content {
    padding-top: 14.5px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-history {
    padding-top: 80px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-history-content {
    padding-top: 13px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-new-para {
    padding-top: 63px;
    padding-left: 31px;
    font-size: 36px;
  }

  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .about-food-heading {
    padding-left: 31px;
    font-size: 36px;
  }
  .about-food-img {
    padding-left: 31px;
    width: 629px;
  }
  .about-food-body {
    padding-left: 31px;
    font-size: 36px;
  }
}
