/* Phone */
.main {
  display: grid;
  place-items: left;
}

.body {
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

.about-title {
  background-image: linear-gradient(to right, #00493a, #00735c);
  text-align: center;
  color: white;
  font-size: 48px;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 37px;
}

.hero-about-heading {
  padding-top: 28px;
  padding-left: 41px;
  font-size: 24px;
}
.hero-about-heading-content {
  padding-top: 9px;
  padding-left: 41px;
  padding-right: 48px;
  font-size: 24px;
}
.hero-about-history {
  padding-top: 70px;
  padding-left: 41px;
  padding-right: 269px;
  font-size: 24px;
}
.hero-about-history-content {
  padding-top: 5px;
  padding-left: 41px;
  padding-right: 44px;
  font-size: 24px;
}
.hero-about-new-para {
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 68px;
  font-size: 24px;
}

/* About Items */
.about-items {
  display: grid;
  grid-template-columns: 1fr;
}
.crust-pizza-heading {
  padding-top: 128px;
  /* padding-left: 101px; */
  font-size: 24px;
  text-align: left;
}
.crust-pizza-img {
  /* padding-top: 18px;
  padding-left: 35px;
  width: 340px;
  height: 215px; */
}
.crust-pizza-body {
  padding-top: 12px;
  padding-left: 44px;
  text-align: left;
  font-size: 24px;
  width: 331px;
}
/* .shabu-heading {
  padding-top: 70px;
  padding-left: 102px;
  font-size: 24px;
}
.shabu-img {
  padding-top: 18px;
  padding-left: 35px;
  width: 340px;
  height: 215px;
}
.shabu-body {
  padding-top: 12px;
  padding-left: 40px;
  text-align: center;
  font-size: 24px;
  width: 331px;
} */

/* Tablet and up */
@media (min-width: 768px) {
  .hero-about-heading {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-heading-content {
    padding-top: 8.7px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-history {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  .hero-about-history-content {
    padding-top: 5px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-new-para {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .crust-pizza-heading {
    padding-top: 146px;
    padding-left: 86px;
    font-size: 24px;
  }
  .crust-pizza-img {
    /* padding-top: 18px;
    padding-left: 28px;
    width: 340px;
    height: 215px; */
    padding-top: 40px;
    padding-left: 66px;
    width: 629px;
  }
  .crust-pizza-body {
    /* padding-top: 12px; */
    padding-left: 33px;
    width: 331px;
    text-align: left;
    font-size: 24px;
  }
  /* .shabu-heading {
    padding-top: 146px;
    padding-left: 155px;
  }
  .shabu-img {
    padding-top: 18px;
    padding-left: 32px;
    width: 340px;
    height: 215px;
  }
  .shabu-body {
    padding-top: 15px;
    padding-left: 5px;
    width: 369px;
    text-align: center;
  } */
}

/* Desktop and up */
@media (min-width: 1440px) {
  .hero-about-heading {
    padding-top: 102px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-heading-content {
    padding-top: 14.5px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-history {
    padding-top: 80px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-history-content {
    padding-top: 13px;
    padding-left: 31px;
    font-size: 36px;
  }
  .hero-about-new-para {
    padding-top: 63px;
    padding-left: 31px;
    font-size: 36px;
  }

  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .crust-pizza-heading {
    /* padding-top: 44px; */
    /* padding-left: 212px; */
    font-size: 36px;
    display: block;
  }
  .crust-pizza-img {
    padding-top: 40px;
    padding-left: 66px;
    width: 629px;
    /* height: 375px; */
  }
  .crust-pizza-body {
    /* padding-top: 19px; */
    padding-left: 75px;
    width: 611px;
    font-size: 36px;
    text-align: left;
  }
  /* .shabu-heading {
    padding-top: 62px;
    padding-left: 185px;
    font-size: 36px;
  }
  .shabu-img {
    padding-top: 40px;
    padding-left: 57px;
    width: 629px;
    height: 375px;
  }
  .shabu-body {
    padding-top: 19px;
    padding-left: 75px;
    width: 611px;
    font-size: 36px;
    text-align: ;
  } */
}
