/* Phone */
.main {
  height: auto;
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
  place-items: left;
}

/* .body {
  font-family: 'Ruluko', sans-serif;
  font-size: 36px;
} */

.about-title {
  height: 100px;
  background-image: linear-gradient(to right, #00493a, #00735c);
  text-align: center;
  color: white;
  font-size: 48px;
  text-align: left;
  padding-top: 50px;
  padding-left: 37px;
  font-family: 'Ruluko', sans-serif;
}

.hero-about-heading {
  padding-top: 70px;
  padding-left: 41px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.hero-about-heading-content {
  padding-top: 5px;
  padding-left: 41px;
  padding-right: 19px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.hero-about-history {
  padding-top: 41px;
  padding-left: 37px;
  padding-right: 19px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.hero-about-history-content {
  padding-top: 5px;
  padding-left: 41px;
  padding-right: 19px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.hero-about-new-para {
  padding-top: 24px;
  padding-left: 41px;
  padding-right: 19px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

/* About Items */
.about-items {
  display: grid;
  grid-template-columns: 1fr;
}
.crust-pizza-img {
  padding-left: 55px;
}

.crust-pizza-heading {
  padding-top: 75px;
  padding-left: 89px;
  padding-bottom: 18px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.crust-pizza-body {
  width: 259px;
  height: 140px;
  padding-top: 35px;
  padding-left: 83px;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
.shabu-img {
  padding-left: 67px;
}
.shabu-heading {
  padding-top: 86px;
  padding-left: 99px;
  padding-bottom: 28px;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

.shabu-body {
  padding-top: 27px;
  padding-left: 42px;
  width: 345px;
  height: 168px;
  text-align: center;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

/* Tablet and up */
@media (min-width: 768px) {
  .hero-about-heading {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-heading-content {
    padding-top: 8.7px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-history {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  .hero-about-history-content {
    padding-top: 5px;
    padding-left: 37px;
    padding-right: 18px;
  }
  .hero-about-new-para {
    padding-top: 37px;
    padding-left: 37px;
    padding-right: 19px;
  }
  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .crust-pizza-img {
    padding-left: 41px;
  }

  .crust-pizza-heading {
    padding-top: 130px;
    padding-left: 75px;
    padding-bottom: 18px;
  }
  .crust-pizza-body {
    width: 259px;
    height: 140px;
    padding-left: 75px;
    text-align: center;
  }
  .shabu-img {
    padding-left: 75px;
  }
  .shabu-heading {
    padding-top: 130px;
    padding-left: 107px;
    padding-bottom: 28px;
  }

  .shabu-body {
    padding-top: 27px;
    width: 345px;
    height: 168px;
    text-align: center;
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
  .hero-about-heading {
    font-size: 36px;
  }
  .hero-about-heading-content {
    font-size: 36px;
  }
  .hero-about-history {
    font-size: 36px;
  }
  .hero-about-history-content {
    font-size: 36px;
  }
  .hero-about-new-para {
    font-size: 36px;
  }
  /* About Items */
  .about-items {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .crust-pizza-img {
    padding-left: 41px;
  }

  .crust-pizza-heading {
    font-size: 36px;
  }
  .crust-pizza-body {
    font-size: 36px;
  }
  .shabu-img {
    padding-left: 75px;
  }
  .shabu-heading {
    font-size: 36px;
  }

  .shabu-body {
    font-size: 36px;
  }
}
