article {
  height: auto;
  display: grid;

  margin: 0;
  padding: 30px;
}

body {
  font-family: 'Ruluko', sans-serif;
}

.opener {
  font-size: 30px;
  grid-column: 2/-1;
}

.summary {
  font-size: 25px;
  grid-column: 2/-1;
}

.personal {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}
.address {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}
.card {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}

.order {
  justify-content: center;
  font-size: 30px;
  color: #000;
  background-color: #9db9ab8c;
}
