article {
  display: grid;
  margin: 20px;
  padding: 30px;
}

.opener {
  font-size: 30px;
}

.row {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}
.col-50 {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}
.card {
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 100px 100px;
}

.btn {
  text-align: center;
  font-size: 30px;
  color: #000;
  background-color: #9db9ab8c;
}
