/* html,
body {
  min-height: 100vh;
} */

/* Phone */
.main {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: left;
  background-color: #edf0ee;
}

/* .body {
  font-family: 'Ruluko', sans-serif;
  font-size: 36px;
} */

.contact-label {
  height: 100px;
  background-image: linear-gradient(to right, #00493a, #00735c);
  text-align: center;
  padding-top: 25px;
  color: white;
}

.contact-us {
  text-align: center;
  font-size: 24px;
}

/* Tablet and up */
@media (min-width: 768px) {
  .contact-us {
    /* font-size: 24px; */
    /* text-align: left; */
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
}
