/* Homepage Slogan CSS */

.slogans {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 35px;
}

.slogan-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogans img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

/* Tablet and up*/

@media (min-width: 768px) {
  /*Homepage Slogan CSS*/

  .slogans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop and up*/
@media (min-width: 1440px) {
  /*Home Page Slogans*/
  .slogans {
    grid-template-columns: repeat(3, 1fr);
  }
}
