* {
  margin: 0;
  padding: 0;
}

/* Navigation Menu CSS */

#navbar ol {
  list-style: none;
  padding: 10px;
  text-align: center;
}

#navbar li {
  display: inline;
  padding: 20px;
}

#navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Ruluko', sans-serif;
}

#navbar .title {
  font-family: 'Ruluko', sans-serif;
  font-size: 48px;
  color: #ae2411;
}

.navbar-quote {
  font-family: 'Ruluko', sans-serif;
  padding: 70px 0;
  text-align: center;
  font-size: 25px;
  padding: 0px;
}

.main-quote {
  font-family: 'Ruluko', sans-serif;
  font-size: 20px;
  padding: 50px 40px;
}

/* Tablet and up*/
@media (min-width: 768px) {
  #navbar a {
    font-size: 20px;
  }

  #navbar .title {
    font-size: 50px;
  }

  .main-quote {
    font-size: 25x;
    padding: 60px;
    text-align: center;
  }
}

/* Desktop and up*/
@media (min-width: 1440px) {
  /*Menu Page Menu Items*/
  .menu-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
