/* Phone */
.main {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  place-items: left;
}

.body {
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}

.about-us {
}

/* Menu Items */
.menu-section-title {
  background: #00493a;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

/* Tablet and up */
@media (min-width: 768px) {
  .contact-us {
    font-size: 36px;
  }

  /* Menu Items */
  .menu-items {
    grid-template-columns: 1fr 1fr;
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
}
