* {
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #55d6aa;
}

#navbar ul {
  list-style: none;
  padding: 24px;
  text-align: center;
}

#navbar li {
  display: inline;
  padding: 40px;
}

#navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

#navbar .title {
  font-size: 36px;
}

.navbar-quote {
  padding: 70px 0;
  text-align: center;
  font-size: 24px;
  padding-top: 0px;
}

.main img {
  width: 100%;
}

.main-slogan {
  text-align: center;
  font-size: 36px;
}

.slogan-image {
}

/* Tablet and up*/
@media (min-width: 768px) {
  #navbar li {
    padding: 60px;
  }

  #navbar a {
    color: #000000;
    text-decoration: none;
    font-size: 36px;
  }

  #navbar .title {
    font-size: 72px;
  }
}

/* Desktop and up*/
@media (min-width: 1440px) {
}

#main-footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
