/* Phone */
.body {
  font-family: font-family: 'Ruluko', sans-serif;
}

.about-us {
  font-size: 24px;
}

/* Tablet and up */
@media (min-width: 768px) {
  .contact-us {
    font-size: 36px;
  }
}

/* Desktop and up */
@media (min-width: 1440px) {
}
