* {
  margin: 0;
  padding: 0;
}

/* Navigation Menu CSS */

#navbar ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

#navbar li {
  display: inline;
  padding: 40px;
}

#navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

#navbar .title {
  font-size: 48px;
  color: #ae2411;
}

.navbar-quote {
  padding: 70px 0;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.main-quote {
  font-size: 18px;
  padding: 50px 40px;
}



/*Menu Items*/

.menu-section-title {
  background-color: #00493a;
  color: #ffffff;
  font-size: 48px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.menu-item-desc {
  font-size: 24px;
}

.menu-item img {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
}

/* Footer */

#main-footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

button {

}


/* Tablet and up*/
@media (min-width: 768px) {
  #navbar a {
    font-size: 36px;
  }

  #navbar .title {
    font-size: 72px;
  }

  .main-quote {
  font-size: 25x;
  padding: 60px;
  text-align: center;
}

.menu-items {
  grid-template-columns: 1fr 1fr;
}

.menu-item img {
  max-width: 100%;
  border-radius: 15%;
  width: 100%;
  height: auto;
}

.menu-item p {
  font-size: 24px;
}
}

/* Desktop and up*/
@media (min-width: 1440px) {

  .menu-items {
  grid-template-columns: 1fr 1fr 1fr;
}
}



