* {
  margin: 0;
  padding: 0;
}

/* Navigation Menu CSS */

#navbar ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}

#navbar li {
  display: inline;
  padding: 40px;
}

#navbar a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

#navbar .title {
  font-size: 48px;
  color: #ae2411;
}

.navbar-quote {
  padding: 70px 0;
  text-align: center;
  font-size: 30px;
  padding: 0px;
}

.main-quote {
  font-size: 18px;
  padding: 50px 40px;
}

/* Homepage Slogan CSS */

.slogans {
  display: grid;
  grid-template-columns: 1fr;
}

.slogan img,
h2 {
  max-width: 100%;
  width: 50%;
  display: block;
  margin: auto;
}

.slogan h2 {
  text-align: center;
  font-size: 48px;
}

/*Menu Items CSS*/

.menu-section-title {
  background-color: #00493a;
  color: #ffffff;
  font-size: 48px;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-item {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.menu-item-desc {
  font-size: 24px;
}

.menu-item img {
  max-width: 100%;
  border-radius: 50%;
  object-fit: cover;
  width: 250px;
  height: 250px;
}

/* Footer CSS */

#main-footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}

button {
}

/* Tablet and up*/
@media (min-width: 768px) {
  /* Navigation Menu CSS */

  #navbar a {
    font-size: 36px;
  }

  #navbar .title {
    font-size: 72px;
  }

  /* Menu Items CSS */

  .main-quote {
    font-size: 25x;
    padding: 60px;
    text-align: center;
  }

  .menu-items {
    grid-template-columns: 1fr 1fr;
  }

  .menu-item img {
    max-width: 100%;
    border-radius: 15%;
    width: 100%;
    height: auto;
  }

  .menu-item p {
    font-size: 24px;
  }

  /* Homepage Slogan CSS */

  .slogans {
    grid-template-columns: 1fr 1fr;
  }

  .slogan img {
    width: 80%;
  }
}

/* Desktop and up*/
@media (min-width: 1440px) {
  .menu-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .slogans {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .slogan img {
    width: 100%;
    height: 90%;
  }
}
